<h1 class="myname">{{name}}</h1>
<h1>{{student.rno}} - {{student.name}}</h1>



<!-- <table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Asif</td>
      <td>555-1234</td>
      <td>asif@gmail.com</td>
    </tr>
    <tr>
      <td>ggjjghh</td>
      <td>555-5678</td>
      <td>jsfdsith@example.com</td>
    </tr>
    <tr>
      <td>asdad</td>
      <td>555-9012</td>
      <td>fafsdfsdf@example.com</td>
    </tr>
  </tbody>
</table> -->
